


.ourService{ 
    background-color: #f7f7f7;
    width: 100%;
    border-bottom: 2px solid #f3f3f3;
}

.ourService .container-fluid{
    padding: 0;
    margin: 0;
    max-width: 100%;

}

.ourService .container{
    margin: auto;   
    padding:0px 50px;
    display: flex;
    flex-direction: row;
max-width: 1200px;
}

.ours-box{
    padding:200px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .2s linear;
    width: 34.20%;

}
.ours-box:hover{
    transition: all .2s linear;
    box-shadow: 0px 20px 30px 5px #d2d2d2;
}
.ours-box:nth-child(odd)  {
    background-color: #f3f3f3;
}
.ours-box img{
width: 150px;
}
.ours-box p{
    text-align: justify;
    direction: rtl;
    font-size: 15px;
    font-weight: 100;
    color: #4c4c4c;

}
.ours-box h1{
    font-size: 25px;
    font-weight: 900;
    color: #333;
    position: absolute;
    top: 100px;
}

.ours-box h2{
    margin: 50px 0px 20px;
    color: #333;
    font-weight: 500;
}
.slick-slide > div > div > div {
    cursor: default !important;
}
.ourService1{
    display: block;
    font-size: 25px;
    font-weight: 900;
    color: #333;
    position: absolute;
    top: 100px;
}
.ourService2{
    display: none;
    font-size: 25px;
    font-weight: 900;
    color: #333;
    padding: 50px;
    text-align: center;
}





.img-01 {
    width: 150px;
    height: 150px; 
    background-image: url('../../../assets/images/index/taknafari abi.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition:all .2s linear;
}

.img-01:hover { 
    background-image: url('../../../assets/images/index/taknafari.png'); 
}

.img-02 {
    width: 150px;
    height: 150px; 
    background-image: url('../../../assets/images/index/hamkari abi.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition:all .2s linear;
}

.img-02:hover { 
    background-image: url('../../../assets/images/index/hamkari.png'); 
}

.img-03 {
    width: 150px;
    height: 150px; 
    background-image: url('../../../assets/images/index/behtarin tarh abi.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition:all .2s linear;
}

.img-03:hover { 
    background-image: url('../../../assets/images/index/behtarin tarh.png'); 
}







@media screen and (max-width: 900px){
.ourService .container{
    flex-direction: column;
    padding: 0px;
}
.ours-box{
    padding: 50px;
    width: 100%;
    
}
.ourService1{
    display: none;
}
.ourService2{
    display: block;
}

}





