


.ourService{ 
    background-color: #f7f7f7;
    width: 100%;
    border-bottom: 2px solid #f3f3f3;
}

.ourService .container-fluid{
    padding: 0;
    margin: 0;
    max-width: 100%;

}

.ourService .container{
    margin: auto;   
    padding:0px 50px;
    display: flex;
    flex-direction: row;
max-width: 1200px;
}

.ours-box{
    padding:200px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .2s linear;
}
.ours-box:hover{
    transition: all .2s linear;
    box-shadow: 0px 20px 30px 5px #d2d2d2;
}
.ours-box:nth-child(2){
    background-color: #f3f3f3;
}
.ours-box img{
width: 100px;
}
.ours-box p{
    text-align: justify;
    direction: rtl;
    font-size: 15px;
    font-weight: 100;
    color: #4c4c4c;

}
.ours-box h1{
    font-size: 25px;
    font-weight: 900;
    color: #333;
    position: absolute;
    top: 100px;
}

.ours-box h2{
    margin: 50px 0px 20px;
    color: #333;
    font-weight: 500;
}
.slick-slide > div > div > div {
    cursor: default !important;
}