


.getStarted{ 
    background-color: #0e0e38;
    width: 100%;
}

.getStarted .container-fluid{
    padding: 0;
    margin: 0;
    max-width: 100%;
    background-image: url('../../../assets/images/getstarted.gif');
    height: 100vh;
    min-height: 700px;
    background-size: 59%;
    background-repeat: no-repeat;
    background-position: left bottom;
    opacity: .9;
  


}




.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 


    

.getStarted .container{
    margin: auto; 
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 200px 50px 100px;
}

.get-title{
    display: flex;
    text-align: right;
    justify-content: flex-end
}

.get-title-box{
    width: 50%;
    color: #ffffff;

}

.get-title-up{
font-size: 30px;
margin-bottom: 50px;    
}
.get-title-up h1:nth-child(2){
border-bottom: 10px solid;
padding-bottom: 10px;
display: inline;
border-radius: 10px;
}

.get-title-down{
font-size: 22px;
font-weight: 200;
}

.get-button-box{
margin-top: 50px;
}

.get-button{
    background-color: #fcfcfc;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    color: #2D9CDB;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(157,206,255,.16);
    transition: all .2s linear;

}
.get-button:hover{
    opacity: .8;
    transition: all .2s linear;
}


@media screen and (max-width: 900px){
.getStarted .container{

}
.get-title-box{
    width: 65%;
}


}



@media screen and (max-width: 700px){
.getStarted .container-fluid{
    display: flex; 
    background-size: 100%;
    background-position: top center;
    /* background: linear-gradient(#00bdc9, #008bc8);  */ 
    padding-top: 55%;
    height: auto;


}
.getStarted .container{
    padding: 50px;
}
.cat-part1-text h2{
    width: 100%; 
}

.get-title-box{
    text-align: center;
    width: 100%;
}
.get-title-up h1:nth-child(2) {
    border-radius: 0px 0px 10px 10px;
}
.get-button{
    margin: auto;
}
.cat-part1-action p{
    width: 100%;
    padding: 0 40px;
}

.cat-part1{
    flex-direction: column-reverse;
}
.cat-part1-text{
    width: 100%;
    margin-bottom: 20px;
}
.get-title-up{
    font-size: 25px;
}
}

@media screen and (max-width: 450px){
    .getStarted .container{
        padding: 20px;
    }

    .cat-part1-text{
        width: 100%;
        margin-bottom: 20px; 
    }

    .cat-part1-text h2{
        width: 100%; 
    }
    .cat-part1-action {
        width: 100%;

    }



    .get-title-up{
        font-size: 20px;
    }
    .get-title-down{
        font-size: 16px;
    }

}