


.getStarted{ 
    background-color: #eeeeeec9;
    width: 100%;
}

.getStarted .container-fluid{
    padding: 0;
    margin: 0;
    max-width: 100%;
    background-image: url('./../../../assets/images/getstarted.png');
    height: 100vh;
    min-height: 700px;
    background-size: cover;
}

.getStarted .container{
    margin: auto; 
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 200px 50px 100px;
}

.get-title{
    display: flex;
    text-align: right;
    justify-content: flex-end
}

.get-title-box{
width: 50%;
}

.get-title-up{
font-size: 30px;
margin-bottom: 50px;    
}
.get-title-up h1:nth-child(2){
border-bottom: 10px solid;
padding-bottom: 10px;
display: inline;
border-radius: 0px 0px 0px 10px;
}

.get-title-down{
font-size: 22px;
font-weight: 200;
}

.get-button-box{
margin-top: 50px;
}

.get-button{
    background-color: #2D9CDB;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
    transition: all .2s linear;

}
.get-button:hover{
    opacity: .8;
    transition: all .2s linear;
}
