
.categories{ 
}

.container-fluid{


}

.categories .container{
    margin: auto; 
    display: flex;
    justify-content: space-between;
    padding: 100px; 
    flex-direction: column;
}




.cat-part1{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.cat-part1-text{
    width: 300px;
    padding: 10px;
    text-align: right;
}
.cat-part1-text h1{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
    color:#222; 
}
.cat-part1-text h2{
    font-size: 20px;
    font-weight: 100;
    color: #444;
}
.cat-part1-action p{
    background-color: #2D9CDB;
    border-radius: 5px;
    width: 240px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition:all .2s linear; 

}
.cat-part1-action p:hover{
    opacity: .8;
    transition:all .2s linear; 
}


.cat-slider{
    padding: 50px 0px;
}

.slick-slider .slick-track, .slick-slider .slick-list{
    padding: 0px 0px 30px;
}

.slick-dots li button:before{
    font-size: 20px;
    color: #a5a5a5;
}
.cat-label{
    position: absolute;
    left: 40px;
    bottom: 25px;
    background-color: #ffffff80;
    padding: 5px 10px;
    border-radius: 30px;
    min-width: 90px;
    color: #616161;
    text-align: center;
    font-size: 11px;
}

.categories .slick-prev:before, .slick-next:before{
    color: rgba(59, 59, 59, 0.2);
    font-size: 25px;
    transition: all .1s linear;
}

.categories .slick-prev:before, .slick-next:before:hover{
    color: rgba(59, 59, 59, 0.8);
    transition: all .1s linear;

}