
.categories{ 
}

.container-fluid{


}

.categories >.container-fluid > .container{
    margin: auto; 
    display: flex;
    justify-content: space-between;
    padding: 100px; 
    flex-direction: column;
}




.cat-part1{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}

.cat-part1-text{ 
    padding: 10px;
    text-align: right;
}
.cat-part1-text h1{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
    color:#222; 
  
    
}
.cat-part1-text h2{
    font-size: 20px;
    font-weight: 100;
    color: #444; 
    width: 600px;
    float: right;
    text-align: justify;
    direction: rtl;


}
.show-my-category {
    cursor: pointer;
    width: 400px;
    margin: 5px; 

}
.cat-part1-action p{
    background-color: #2D9CDB;
    border-radius: 5px;
    width: 240px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition:all .2s linear; 

}
.cat-part1-action p:hover{
    opacity: .8;
    transition:all .2s linear; 
}


.cat-slider{
    padding: 50px 0px;
}
.category-slider{
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;
    width: 300px; 
    height: 300px;     
    /* width: 400px; 
    height: 400px;  */
    cursor: zoom-in ; 
    margin:auto ;
    position:relative ;
    background-color: #aeaeae;
    background-size: cover;
    border-radius: 5px;     
}

.cat-label{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #ffffffe3;
    padding: 5px 10px;
    border-radius: 30px;
    min-width: 120px;
    color: #616161;
    text-align: center;
    font-size: 13px;
    opacity: 1;
    transition: all .2s linear;
}
.category-slider:hover  .cat-label{
opacity: 0;
transition: all .2s linear;

}
.slick-slider .slick-track, .slick-slider .slick-list{
    padding: 0px 0px 30px;
}

.slick-dots li button:before{
    font-size: 20px;
    color: #a5a5a5;
}

.categories .slick-prev:before, .slick-next:before{
    color: rgba(59, 59, 59, 0.2);
    font-size: 25px;
    transition: all .1s linear;
}

.categories .slick-prev:before, .slick-next:before:hover{
    color: rgba(59, 59, 59, 0.8);
    transition: all .1s linear;
}


@media screen and (max-width: 1100px){

.category-slider{
    width: 200px;
    height:140px;
}
.slick-slider .slick-track, .slick-slider .slick-list{
    padding: 0px 0px 30px;
}
}


@media screen and (max-width: 900px){
    .slick-dots{
        display: none!important;
    }
}
@media screen and (max-width: 700px){

    .category-slider{
        width: 300px;
        height:200px;
    }
    .categories > .container-fluid > .container{
        padding: 50px;
    }
    .cat-part1-text{
        text-align: center;
    }
}

@media screen and (max-width: 450px){

    .category-slider{
        width: 200px;
        height:140px;
    }

}