.designerLogo{
    width: calc(25% - 40px);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #f7f7f7;
    box-shadow: 0px 8px 5px -2px rgba(199, 199, 199, 0.5);
    transition: all .2s linear;
    cursor: pointer;
}
.designerLogo:hover{
    transition: all .2s linear;
    box-shadow: 0px 10px 30px 0px #d2d2d2;
}
.designerLogo-CL{
    display: flex;
    width: 100px;
    justify-content: space-around;
    height: 25px;
    border-radius: 30px;
    opacity: 0;
    transition: all .2s linear;
    background-color: rgba(148, 148, 148, 0.19);
}
.designerLogo:hover .designerLogo-CL{
opacity: 1;
transition: all .4s linear;
}

.designerLogo-II{
    display: flex;
align-items: center;
}
.designerLogo-II img{
width: 12px;
}

.designerLogo-II span{
    padding: 0px 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
}

.designerLogo .button-style {
    width: 100px;
    height: 25px;
    font-size: 10px;
}

