.product{
    width: calc(33.33% - 40px);
    height: 590px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 30px ;
    border: 1px solid #f7f7f7;
    transition: all .2s linear;
    /* cursor: pointer; */
    flex-direction: column;
    text-align: right;
}
.product:hover{
    transition: all .2s linear;
    box-shadow: 0px 10px 30px 0px #d2d2d2;
}
.product-down{
    padding: 20px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.product-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-title h1{
    font-size: 14px;
}   
.product-img {
    background-color: #efefef;
    border-radius: 10px 10px 0 0;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    display: flex;
    justify-content: center;
}

.product-img img {
    width: 100%;
    border-radius: 10px 10px 0 0 ;


}
.product-title div{
    padding: 5px 20px;
    border-radius: 30px;
    border: 2px solid #0090CF;
    color: #0090CF;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.product-title div span{
font-size: 14px;
margin-right: 10px;
}


.product-text{
padding: 15px 0px;
color: #555555;
font-size: 15px;

}

.product-options{
color: #555555;
}

.product-option{
    display: flex;
    padding: 5px;
    justify-content: flex-end;
    font-size: 13px;
}

.product-option img{
width: 15px;
margin: 0px 5px 0px 10px;
}

.product-option p{

}

@media screen and (max-width: 1000px){
    .product {
        width: calc(50% - 40px);
    }
}

@media screen and (max-width: 700px){
    .C-search > .container{
        padding: 50px;
    }
    .product {
        width: calc(100% - 40px);
    }

    .product-img {
        height: 340px;
    }
}


@media screen and (max-width: 600px){
    .C-title > .container{
        padding: 50px;
        flex-direction: column;
    }

    .C-title-right{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    .C-title > .container{
        padding: 20px;
    }
    .product-title h1{
        font-size: 15px;
    }
}

@media screen and (max-width: 450px){
    .C-title > .container{
        padding: 20px;
    }
    .product-title div{
        width: 100%;
        justify-content: center;
        padding: 20px 0;
    }
    .product-title{
        display: flex;
        flex-direction: column-reverse;
    }
    .product-title h1{
        margin-bottom: 10px;
        font-size: 20px;
    }
}