.designerLogoTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DLT-right{
display:flex;
align-items: center;
}
.DLT-right-title{
    margin-right: 20px;
}
.DLT-right-title h1{
    margin-bottom: 15px;
    font-size: 22px;
}
.DLT-right-title h2{
    color: #6f6f6f;
    font-weight: 300;
    font-size: 18px;
}
.DLT-right img{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #bebebe;
    box-shadow: 0px 6px 6px 1px #c5c5c5;
}

.DLT-left .button-style{
width: 180px;
}

.DLT-icon-box{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.DLT-icons{
    width: 50px;
    height: 50px;
    border: 2px solid #D0D0D0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    flex-direction: column;
}
.DLT-icons img{
 width: 15px;
}

.DLT-icons span{
color: #D0D0D0;
}

