


.customerComment{ 
    background-color: #fff;
    width: 100%;
}

.customerComment .container-fluid{
background-color: #f7f7f7;

}

.customerComment .container{
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

.customerComment .container > h1{
    font-size: 25px;
    font-weight: 900;
    color: #333;
    top: 100px;
    text-align: center;
    padding: 0px 0px 50px;
}
.customer-box{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}
.customer-detail{
display: flex;
align-items: center;
margin-bottom: 20px;


}
.customer-box img { 
    border-radius: 50%;
    margin-left: 20px;
    width: 120px;
    height: 120px;
    border: 3px solid #fff;
    box-shadow: 0px 15px 13px -3px #80808075;
}

.customer-title{
    text-align: right;
}

.customer-title h1{
font-size: 18px;
margin-bottom: 10px;
}

.customer-title h2{
color: #DFDFDF;
font-size:18px;
}

.customer-text{
    padding: 0px 150px;
    text-align: right;
    font-size: 16px;
    color: #4c4c4c;
    line-height: 25px;

}

.customerComment .slick-prev:before, .slick-next:before{
    color: rgba(59, 59, 59, 0.2);
    font-size: 25px;
    transition: all .1s linear;
}

.customerComment .slick-prev:before, .slick-next:before:hover{
    color: rgba(59, 59, 59, 0.8);
    transition: all .1s linear;

}


@media screen and (max-width: 900px){
.customer-text{
    padding: 0px ;
}
.customerComment .container{
    padding: 100px 50px;
}

}
@media screen and (max-width: 700px){

    .customerComment .slick-slider .slick-track, .slick-slider .slick-list{
padding: 0px;
    }

}

@media screen and (max-width: 600px){

    .customer-box{
        padding: 20px;
    }
    .slick-slide > div > div > div {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    .customer-box img{
        margin: 0px 0px 10px 0px;
    }


}