.header{ 
    background-color: #eeeeee9e;
    position: absolute;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.container-fluid{


}

.header .container{
    margin: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
display: flex;
}

.header-menu{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.menu-links{
display: flex;
font-weight: 900;
align-items: center;
margin-left: 40px;
}
.menu-links a{
    border: 2px solid transparent;
    margin: 0px 5px;
    border-radius: 30px;
    transition:all .2s linear
}
.menu-links a:hover{
    border: 2px solid #333;
    transition:all .2s linear
}
.linkActive{
    border: 2px solid #333;

}
.menu-link{
    margin: 10px;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-login{
padding: 10px;
display:flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition:all .2s linear

}
.menu-login:hover{
    opacity: .8;
    transition:all .2s linear
}

.menu-login-text{
    background-color: #2D9CDB;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
font-weight: 900;
    
}