.designerResult{
    width: calc(25% - 40px);
    background-color: #f7f7f7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    margin: 20px;
    transition: all .2s linear;
}
.designerResult:hover{
    transition: all .2s linear;
    box-shadow: 0px 10px 30px 0px #d2d2d2;
}

.designerResult-title{
margin: 40px 0px;
}

.designerResult-title h1{
font-size: 18px;
}

.designerResult-title h2{
font-size: 15px;
color: #6f6f6f;
font-weight: 300;
}
.designerResult img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 15px 13px -3px #80808075;   
}
.designerResult .button-style{
    width: 190px;
}
