
.appreciation{
    display: flex;
    background: #F9F9F9;
    padding: 10px 20px;
    border-radius: 10px;
    min-height: 200px;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    margin-bottom: 20px;
    border: 1px solid #f6f6f6;
    transition:all .2s linear;
    cursor: pointer;
}

.appreciation:hover{
    box-shadow: 0px 5px 5px 0px #8080802b;
    transition:all .2s linear;
}

.A-title{
margin-right: 20px;
}

.A-title h1{
font-size: 20px;
}

.A-title h2{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.A-title p{
color: #555;
font-size: 16px;
}

.A-logo{
min-height: 180px;
border-radius: 30px;
border: 1px solid #f6f6f6;

}

.A-medal{
    position: absolute;
    left: 40px;
    top: 10px;
    width: 60px;
}


@media screen and (max-width: 600px){

.A-title p{
    font-size: 13px;
}
}


@media screen and (max-width: 600px){
    .appreciation{
        flex-direction: column-reverse;
    }
    .A-logo {
        width: 100%;
    }
    .A-title {
        margin: 0px;
        text-align: center;
        padding: 20px 0px;
    }
}