
.Profile{ 

}



.Profile-title {
    text-align: right;
}

.Profile-title  .container-fluid{
    background-color: #F1F1F1;
}

.Profile-title   .container{
    margin: auto;
    padding: 130px 80px 50px;
    display: flex;
    direction: rtl;
    align-items: center;


}
.Profile-desc-box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.Profile-title img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #bebebe;
    box-shadow: 0px 6px 6px 1px #c5c5c5;
}

.Profile-name {
    margin-right: 20px;
}
.Profile-name  h1{
    margin-bottom: 15px;
    font-size: 22px
}

.Profile-name  h2{
    color: #6f6f6f;
    font-weight: 300;
    font-size: 18px;
}    
.Profile-desc-box2{

}
.Profile-desc-up{

}
.Profile-desc-up .container-fluid{
    width: 100%;
    padding: 0;
    background-color: #F1F1F1;

}

.Profile-desc-up .container{

}


.Profile-desc-texts{
    text-align: right;

}

.Profile-desc-text{
    display: flex;
    padding: 50px 0px 25px;
    align-items: center;
}
.Profile-desc-text h1{
    padding-left: 25px;
    color: #666;
}
.Profile-desc-text p{
    padding: 50px 25px;
    border-right: 3px solid #D8D8D8;
    width: 80%;
    font-size: 16px;
    color: #555;
}
.Profile-desc-down {
    padding: 100px 0px;
    min-height: 800px;
}

.Profile-desc-box{
display:flex;
}
.Profile-desc-title:nth-child(1),
.Profile-desc-title:nth-child(2){
background-color: transparent;
}


.Profile-desc-title{
    font-size: 16px;
    border-radius: 30px;
    background-color: #D8D8D8;
    margin: 0px 10px;
    height: 40px;
    line-height: 38px;
    padding: 0px 30px;
    color: #333;
    cursor: pointer;
    font-weight: 900;
}
.Profile-desc-texts:nth-child(2) ,
.Profile-desc-texts:nth-child(3) {
display: none;
}


.Profile-profile{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.designerPage-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 25px;
    font-weight: 900;
}

.pagination-number{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    cursor: pointer;
    border-radius: 50%;
    transition: all .2s linear;
}
.pagination-number:hover{
    background-color: #d9d9d9;
    transition: all .2s linear;
}
.pagination-number-selected{
    background-color: #d4d4d4;
}