

@font-face {
	font-family: IRANSansfa;
	font-style: normal;
  font-weight: bold;
	src: url('./assets/fonts/iransans/eot/IRANSansWebFaNum_Bold.eot');
	src: url('./assets/fonts/iransans/eot/IRANSansWebFaNum_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('./assets/fonts/iransans/woff2/IRANSansWebFaNum_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('./assets/fonts/iransans/woff/IRANSansWebFaNum_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./assets/fonts/iransans/ttf/IRANSansWebFaNum_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSansfa;
	font-style: normal;
	font-weight: 500;
	src: url('./assets/fonts/iransans/eot/IRANSansWebFaNum_Medium.eot');
	src: url('./assets/fonts/iransans/eot/IRANSansWebFaNum_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('./assets/fonts/iransans/woff2/IRANSansWebFaNum_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('./assets/fonts/iransans/woff/IRANSansWebFaNum_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./assets/fonts/iransans/ttf/IRANSansWebFaNum_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSansfa;
	font-style: normal;
	font-weight: 300;
	src: url('./assets/fonts/iransans/eot/IRANSansWebFaNum_Light.eot');
	src: url('./assets/fonts/iransans/eot/IRANSansWebFaNum_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('./assets/fonts/iransans/woff2/IRANSansWebFaNum_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('./assets/fonts/iransans/woff/IRANSansWebFaNum_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./assets/fonts/iransans/ttf/IRANSansWebFaNum_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSansfa;
	font-style: normal;
	font-weight: 200;
	src: url('./assets/fonts/iransans/eot/IRANSansWebFaNum_UltraLight.eot');
	src: url('./assets/fonts/iransans/eot/IRANSansWebFaNum_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('./assets/fonts/iransans/woff2/IRANSansWebFaNum_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('./assets/fonts/iransans/woff/IRANSansWebFaNum_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./assets/fonts/iransans/ttf/IRANSansWebFaNum_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSansfa;
	font-style: normal;
	font-weight: normal;
	src: url('./assets/fonts/iransans/eot/IRANSansWebFaNum.eot');
	src: url('./assets/fonts/iransans/eot/IRANSansWebFaNum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('./assets/fonts/iransans/woff2/IRANSansWebFaNum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('./assets/fonts/iransans/woff/IRANSansWebFaNum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('./assets/fonts/iransans/ttf/IRANSansWebFaNum.ttf') format('truetype');
}


body{
  background: #fff;
  font-size: 13px;
  overflow-x: hidden;
}
*{
  font-family: IRANSans;
  border: none;
  list-style-type: none;
  box-sizing: border-box;
  direction: rtl;
  margin: 0;
  padding: 0;
  outline: none;
}
button{
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #333;
}

.container-fluid{ 
  padding: 1rem;
  height: auto;
  max-width: 1200px;
  margin: auto;
}

.container {
  width: 100%;
}