


.sampleDesigns{ 
    background-color: #f7f7f7;
    width: 100%;
}

.sampleDesigns .container-fluid{


}

.sampleDesigns .container{
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    /* background-color: #f7f7f7; */
}

.sampleDesigns .container h1{
    font-size: 25px;
    font-weight: 900;
    color: #333;
    top: 100px;
    text-align: center;
    padding: 0px 0px 50px;
}

.sampleDesigns .slick-dots{
    padding-bottom: 20px;
}

.sampleDesigns .slick-prev:before, .slick-next:before{
    color: rgba(59, 59, 59, 0.2);
    font-size: 25px;
    transition: all .1s linear;
}

.sampleDesigns .slick-prev:before, .slick-next:before:hover{
    color: rgba(59, 59, 59, 0.8);
    transition: all .1s linear;

}
.sampleDesigns-slider{
    background-position: center; 
    background-size: cover;
    background-repeat:no-repeat;
    width: 300px; height: 300px;
    cursor: zoom-in;
     margin:auto ;
     position:relative;
}
.bg-fff {
    background-color: #ffffff!important;

}

.brand {
    /* width: 150px;
    height: 150px;
    -webkit-filter: grayscale(200%); 
    filter: grayscale(200%); */

    width: 150px;
    height: 150px;
    -webkit-filter: grayscale(200%);
    filter: grayscale(-105%);
    transition:all .2s linear;
    opacity: 0.4;

 

}
.brand:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
    border-radius: 5px; 

}


@media screen and (max-width: 900px){
    .sampleDesigns-slider{
        width: 200px;
        height: 200px;
    }

}

@media screen and (max-width: 700px){
    .sampleDesigns-slider{
        width: 300px;
        height: 300px;
    }
    .sampleDesigns .slick-slider .slick-track, .slick-slider .slick-list {
        padding: 0px 0px 30px;
    }

}

@media screen and (max-width: 450px){
    .sampleDesigns .container{
        padding: 20px;
    }
    .sampleDesigns-slider{
        width: 150px;
        height: 150px;
    }


}