


.sampleDesigns{ 
    background-color: #f7f7f7;
    width: 100%;
}

.sampleDesigns .container-fluid{


}

.sampleDesigns .container{
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

.sampleDesigns .container h1{
    font-size: 25px;
    font-weight: 900;
    color: #333;
    top: 100px;
    text-align: center;
    padding: 0px 0px 50px;
}

.sampleDesigns .slick-dots{
    padding-bottom: 20px;
}

.sampleDesigns .slick-prev:before, .slick-next:before{
    color: rgba(59, 59, 59, 0.2);
    font-size: 25px;
    transition: all .1s linear;
}

.sampleDesigns .slick-prev:before, .slick-next:before:hover{
    color: rgba(59, 59, 59, 0.8);
    transition: all .1s linear;

}