.C-title .container-fluid{
    background-color: #f2f2f2;
}
.C-title .container{
    padding: 130px 50px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.C-title{
    text-align: right;
}


.C-title-right h1{
    color: #333;
    margin-bottom: 10px;
}
.C-title-right p{
    font-size: 16px;
    color: #4c4c4c;
}
    
.C-title-right{
    width: 50%;
}


.C-search .container-fluid{
    background-color: #fff;
}

.C-search   .container{
    margin: auto; 
    padding: 50px 0px ;
}


.C-search-box{
    display: flex;
    width: 90%;
    margin: 50px auto;
    position: relative;
}

.C-search-box input{
    border: 1px solid rgba(233, 233, 233, 0.8);
    width: 100%;
    height: 60px;
    border-radius: 30px;
    margin: auto;
    padding: 0px 30px;
    direction: rtl;
    transition: all .2s linear;     
}
.C-search-box input:focus{
    box-shadow: 0px 6px 15px -6px #80808094;
    transition: all .2s linear;     
}

.C-search-box img{
    position: absolute;
    background-color: #0090CF;
    width: 40px;
    padding: 12px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.C-search-box img:hover{
    opacity: .8;
    transition: all .2s linear;
}

.C-search-result{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.C-search-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 25px;
    font-weight: 900;
}

